<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Transactions</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
</head>
<body>
<div class="container mt-5">
    <h2>Transactions</h2>
    <div class="mt-4">
        <div class="row">
            <div th:each="transaction : ${transactions}" class="col-md-4 mb-4">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title" th:text="${transaction.transactionType}">Transaction Type</h5>
                        <p class="card-text"><strong>Date:</strong> <span th:text="${transaction.expiryDate}">Date</span></p>
                        <p class="card-text"><strong>Amount:</strong> <span th:text="${transaction.balance}">Amount</span></p>
                        <p class="card-text"><strong>Description:</strong> <span th:text="${transaction.description}">Description</span></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
</body>
</html>